<!DOCTYPE html>
<html ng-app="moduleApp">
<head>
  <title><%= title %></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
  <body ng-controller="CtrlMain as app">
    <div class="panel">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation" class="active"><a href="cambiacolor">Municipios</a></li>
          <li role="presentation"><a href="coordenadas">Coordenadas</a></li>
          <li role="presentation"><a href="rutas">Rutas</a></li>
          <li role="presentation"><a href="reporteKML">Reporte KML</a></li>
          
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <h2>Paso 1: Subir archivo excel</h2>
          <form role="form" id="uploadForm" enctype="multipart/form-data" action="/uploadjavatpoint" method="post">
            <div class="form-group">
              <input type="file" name="myfile" />
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-info btn-block" value="Upload Image" name="submit">
            </div>
            <span id="status"></span>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <h2>Paso 2: Reescribir datos de los municipios</h2>
            <div class="btn-group pull-left">
              <button ng-click="app.getFileList()" type="button" class="btn btn-success">Actualizar...</button>
              <div>&nbsp;Presione este botón.</div>
              <hr>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <div id="file-list-div">
              <label for="file-list-control">Seleccione el nombre del archivo que subió al servidor:</label>
              <select class="form-control" name="file-list-control" id="file-list-control" ng-model="app.selectedFile">
                <option value="default" disabled>...Presione "Actualizar"</option>
                <option ng-click="app.fAlertVerDatos()" value="{{item.archivo}}" ng-repeat="item in app.fileList">{{item.archivo|uppercase}}</option>
              </select>
            </div>
            <br>
            <div>
              <button ng-click="app.procesarDatos()" type="button" class="btn btn-lg btn-primary btn-block">Procesar Datos...</button>
              <div>
                <p>{{app.estado1}}</p>
                <p>{{app.estado2}}</p>
                <p ng-show="app.estado2"> <a role="button" class="btn btn-danger btn-lg" href="resultado.kml">Descargar Archivo KML</a></p>
              </div>
              <hr>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
              <h2></h2>

              <div>

              </div>
          </div>
      </div>
    </div>
    <div class="panel">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation" class="active"><a href="cambiacolor">Municipios</a></li>
          <li role="presentation"><a href="coordenadas">Coordenadas</a></li>
          <li role="presentation"><a href="rutas">Rutas</a></li>
          <li role="presentation"><a href="reporteKML">Reporte KML</a></li>
          
        </ul>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="javascripts/bower_components/angular/angular.js"></script>
    <script src="javascripts/frontend/moduleApp.js"></script>
    <script type="text/javascript">
          $(document).ready(function() {

              $('#uploadForm').submit(function(event ) {
                  event.preventDefault();

                  $("#status").empty().text("File is uploading...");

                  $(this).ajaxSubmit({

                      error: function(xhr) {
                              status('Error: ' + xhr.status);
                      },

                      success: function(response) {
                              console.log(response);
                              $("#status").empty().text(response);
                      }
                  });

                  return false;
              });
          });
    </script>
  </body>
</html>
