<!DOCTYPE html>
<html ng-app="coordenadasApp">
<head>
  <title><%= title %></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
  <body ng-controller="coordenadasCtrl">
    <div class="panel">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="cambiacolor">Municipios</a></li>
          <li role="presentation" class="active"><a href="coordenadas">Coordenadas</a></li>
          <li role="presentation"><a href="rutas">Rutas</a></li>
          <li role="presentation"><a href="reporteKML">Reporte KML</a></li>

        </ul>
      </div>
    </div>
    <div class="container">
      <div class="col-md-1">

      </div>
      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            Coordenadas -> Puntos KML
          </div>
          <div class="panel-body">
            <div class="">

                <h2>Paso 1: Descargar plantilla en excel</h2>
                <div class="bg-success">
                  <p>&nbsp;&nbsp;</p>
                  <div  style="font-size:20px;">
                    &nbsp;&nbsp;Descargar el formato de entrada:
                    <a href="plantilla_coordenadas.xlsx">plantilla.xlsx</a>
                  </div>
                  <p>&nbsp;&nbsp;</p>
                </div>
                <p>
                  <div class="row">
                    <div class="col-md-8">
                      <h2>Paso 2: Seleccione icono para los puntos:</h2>
                      <div class="form-group">
                        <select ng-model="imgnumber" ng-change="setIcon()" class="form-control" name="" required>
                          <option value=0>rombo</option>
                          <option value=1>cuadrado</option>
                          <option value=2>home</option>
                          <option value=3>circulo</option>
                          <option value=4>cuadrado pequeño</option>
                          <option value=5>circulo pequeño</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-1 img-responsive">
                      <h3>&nbsp;</h3>
                      <img ng-src="{{imgicon}}" height="50px">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <h2>Paso 3: Dibujar ruta? (Opcional)</h2>
                      <div class="form-group">
                        <label for="chk_ruta">
                          {{" incluir ruta"}} <input type="checkbox" class="form-control" id="chk_ruta" ng-model="chk_ruta"
                          ng-true-value="'SI'" ng-false-value="''">
                        </label>
                      </div>
                    </div>
                  </div>

                  <h2>Paso 4: Subir archivo</h2>
                <form role="form" id="uploadXlsx" enctype="multipart/form-data" action="/xlsxCoordenadas" method="post">
                  <div class="form-group">
                    <input type="file" class="form-control" name="myfile" id="myfile" />
                  </div>
                  <div class="form-group">
                    <input id="submitCoordenadas" type="submit" class="btn btn-info btn-lg btn-block" value="Subir Excel de coordenadas" name="submit">
                  </div>
                  <span id="status"></span>
                </form>
                <p>
                  <div class="form-group">
                    <input id="hiddenfilename" type="text" class="form-control" disabled/>
                  </div>
                  <div class="form-group">
                    <div class="img" ng-show="gif">
                      <img class="img-responsive" src="./stylesheets/image/loading_dots.gif" alt="">
                    </div>
                    <a id="getdownloadlink" ng-click="get_download_link()" class="btn btn-success btn-lg btn-block" role="button">Obtener link de descarga</a>
                    <h2 ng-show="xlsxgenerated">Descargue su archivo en el link:
                    <a ng-show="xlsxgenerated" href="{{xlsxgenerated}}" class="btn btn-default btn-link btn-lg" role="button">{{xlsxgenerated}}</a>
                    </h2>
                  </div>
                  <div class="form-group">
                    <a id="reseteo" href="/coordenadas" class="btn btn-default" role="button">Reiniciar</a>
                  </div>
                  <div ng-show="messages.length>0" ng-for="m in messages" class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{m.title}}</strong> {{m.text}}
                  </div>
                </p>
            </div>
            <div class="" ng-hide="true">
                <h2>Paso 1: Coordenadas</h2>
                <p>Seleccione el tipo de coordenadas.</p>
                <div class="btn-group">
                  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Seleccione el tipo de coordenadas <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-click="useGrados()"><a href="">Grados° Minutos ' Segundos "</a></li>
                    <li ng-click="useDecimales()"><a href="">Decimales</a></li>
                  </ul>
                </div>
                <hr>
                <div ng-show="flagGrados">
                  <p> Ejemplo: <strong>-90° 27' 14.8"	14° 35' 31.7"</strong> <br>Si desea agregar más puntos, entonces utilice una linea para cada punto.
                  </p>
                  <p><strong>-90° 27' 14.8"	14° 35' 31.7"<br> -90° 27' 19.4"	14° 35' 33.4"</strong></p>
                </div>
                <div ng-show="flagDecimales">
                  <p> Ejemplo: <strong> -90.4541, 14.5921</strong>. <br>Si desea agregar más puntos, entonces utilice una linea para cada punto.
                  </p>
                  <p><strong>-90.4541, 14.5921<br> -90.4553, 14.5926</strong></p>
                </div>
                <div ng-show="flagGrados||flagDecimales" class="form-group">
                  <textarea ng-model="textInput" class="form-control" name="name" rows="4" cols="80"
                   placeholder="Ingrese las coordenadas siguiendo el formato indicado segun el tipo de coordenadas electas."></textarea>
                  <button ng-show="textInput" type="button" ng-click="metodo1()"
                   class="btn btn-lg btn-info btn-block">Evaluar coordenadas</button>
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-group">
                        <h4>Coordenadas encontradas:</h4>
                        <li class="list-group-item" ng-repeat="vpoint in vpoints">

                            Coordenada: {{vpoint}}

                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul class="list-group" ng-show="flagGrados">
                        <h4>Coordenadas convertidas:</h4>
                        <li class="list-group-item" ng-repeat="decimalPoint in decimalPoints">

                            {{decimalPoint.uno}} :: {{decimalPoint.dos}}

                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
            </div>
            <hr>
            <div ng-show="flagKml"  ng-hide="true">
                  <h2>Paso 2: Descargar kml</h2>
                  <textarea ng-model="textOutput" class="form-control" name="name" rows="2" cols="80" disabled></textarea>
                  <button ng-click="metodo3()" ng-show="showGenerateKml" type="button" class="btn btn-lg btn-success btn-block">Generar KML</button>
            </div>
            <div ng-show="showDownloadKml"  ng-hide="true">
              <h3>Download KML</h3>
              <a ng-href="{{filename}}" >Download {{filename}}</a>
            </div>
          </div>
      </div>
      </div>
    </div>




    <!-- fin del documento html -->
    <footer style="padding-top: 60px;">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="cambiacolor">Municipios</a></li>
          <li role="presentation" class="active"><a href="coordenadas">Coordenadas</a></li>
          <li role="presentation"><a href="rutas">Rutas</a></li>
          <li role="presentation"><a href="reporteKML">Reporte KML</a></li>

        </ul>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="javascripts/bower_components/angular/angular.js"></script>
    <script src="javascripts/frontend/coordenadasApp.js"></script>
    <script type="text/javascript">

      $(document).ready( function () {
        $("#submitCoordenadas").hide();
        $("#getdownloadlink").hide();
        $("#hiddenfilename").hide();

        $("#myfile").on("change", function () {
          $("#submitCoordenadas").show(800);
        });
        $('#uploadXlsx').submit(function(event ) {
            event.preventDefault();

            $("#status").empty().text("File is uploading...");

            $(this).ajaxSubmit({

                error: function(xhr) {
                        status('Error: ' + xhr.status);
                },

                success: function(response) {
                        console.log(response);
                        $("#status").empty().text(response + " ::: ");
                        $("#hiddenfilename").val( $("#myfile")[0].files[0].name );
                        $("#hiddenfilename").show(800);
                        $("#getdownloadlink").show(800);
                        $("#myfile").hide(400);
                        $("#submitCoordenadas").hide(400);
                        //console.log($("#myfile")[0].files[0]);
                }
            });

            return false;
        });

      });

    </script>
  </body>
</html>
