<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="./favicon.ico" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>TX Documentación</h1>
        <p>Google Earth - <%= title %></p>
        <div id="data">

        </div>
      </div>
      <div class="panel">
        <div class="container">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="cambiacolor">Municipios</a></li>
            <li role="presentation"><a href="coordenadas">Coordenadas</a></li>
            <li role="presentation"><a href="rutas">Rutas</a></li>
            <li role="presentation"><a href="reporteKML">Reporte KML</a></li>
            
          </ul>
        </div>
      </div>
    </div>

    <script type="text/javascript">

    </script>
  </body>
</html>
