<!DOCTYPE html>
<html ng-app="reportekmzApp">
<head>
  <title>Reporte KMZ</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="javascripts/bower_components/angular-datepicker/angular-datepicker.min.css">
  <link rel="stylesheet" href="stylesheets/reporteKMZ.css">
</head>
  <body ng-controller="reportekmzController">
    <div class="panel">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="cambiacolor">Municipios</a></li>
          <li role="presentation"><a href="coordenadas">Coordenadas</a></li>
          <li role="presentation"><a href="rutas">Rutas</a></li>
          <li role="presentation" class="active"><a href="reporteKML">Reporte KML</a></li>

        </ul>
      </div>
    </div>
    <div class="container">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Proceso - Generar reporte KML</h4>
              </div>
          <div ng-switch on="selection">
                <div class="panel-body animate-switch" ng-switch-when="paso1">
                  <a ng-click="setPaso('paso5')" class="btn btn-default pull-left">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Paso5</a>
                  <a ng-click="setPaso('paso2')" class="btn btn-default pull-right">
                    Paso2&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                  <hr>
                  <div ng-controller="paso1Ctrl as ctrl" ng-include="'javascripts/frontend/includes/paso1.html'"></div>
                  <hr>
                  <a ng-click="setPaso('paso5')" class="btn btn-default pull-left">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Paso5</a>
                  <a ng-click="setPaso('paso2')" class="btn btn-default pull-right">
                    Paso2&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
                <div class="panel-body animate-switch" ng-switch-when="paso2">
                  <a ng-click="setPaso('paso1')" class="btn btn-default pull-left">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Paso1</a>
                  <a ng-click="setPaso('paso3')" class="btn btn-default pull-right">
                    Paso3&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                  <hr>
                  <div ng-controller="paso2Ctrl as ctrl" ng-include="'javascripts/frontend/includes/paso2.html'"></div>
                  <hr>
                  <a ng-click="setPaso('paso1')" class="btn btn-default pull-left">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Paso1</a>
                  <a ng-click="setPaso('paso3')" class="btn btn-default pull-right">
                    Paso3&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
                <div class="panel-body animate-switch" ng-switch-when="paso3">
                  <a ng-click="setPaso('paso2')" class="btn btn-default pull-left">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Paso2</a>
                  <a ng-click="setPaso('paso4')" class="btn btn-default pull-right">
                    Paso4&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                  <hr>
                  <div ng-controller="paso3Ctrl as ctrl" ng-include="'javascripts/frontend/includes/paso3.html'"></div>
                  <hr>
                  <a ng-click="setPaso('paso2')" class="btn btn-default pull-left">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Paso2</a>
                  <a ng-click="setPaso('paso4')" class="btn btn-default pull-right">
                    Paso4&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
                <div class="panel-body animate-switch" ng-switch-when="paso4">
                  <a ng-click="setPaso('paso3')" class="btn btn-default pull-left">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Paso3</a>
                  <a ng-click="setPaso('paso5')" class="btn btn-default pull-right">
                    Paso5&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                  <hr>
                  <div ng-controller="paso4Ctrl as ctrl" ng-include="'javascripts/frontend/includes/paso4.html'"></div>
                  <hr>
                  <a ng-click="setPaso('paso3')" class="btn btn-default pull-left">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Paso3</a>
                  <a ng-click="setPaso('paso5')" class="btn btn-default pull-right">
                    Paso5&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
                <div class="panel-body animate-switch" ng-switch-when="paso5">
                  <a ng-click="setPaso('paso4')" class="btn btn-default pull-left">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Paso4</a>
                  <a ng-click="setPaso('paso1')" class="btn btn-default pull-right">
                    Paso1&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                  <hr>
                  <div ng-controller="paso5Ctrl as ctrl" ng-include="'javascripts/frontend/includes/paso5.html'"></div>
                  <hr>
                  <a ng-click="setPaso('paso4')" class="btn btn-default pull-left">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Paso4</a>
                  <a ng-click="setPaso('paso1')" class="btn btn-default pull-right">
                    Paso1&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
                <!-- <a ng-click="setPaso('paso5')" class="btn btn-default pull-left">Paso5</a>
                <a ng-click="setPaso('paso2')" class="btn btn-default pull-right">Paso2</a> -->
                <hr>
          </div>
        </div>

        <div class="panel panel-default" ng-controller="buscarCtrl as ctrl">
          <div class="panel-heading">
            <h4>Tengo un codigo de reporte</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2">
                  ID reporte:
                </div>
                <div class="col-md-10">
                  <input type="text" ng-model="ctrl.f" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                  <br>
                  <button ng-click="ctrl.b()" type="button" class="btn btn-success">Buscar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>




    <!-- fin del documento html -->
    <footer style="padding-top: 60px;">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="cambiacolor">Municipios</a></li>
          <li role="presentation"><a href="coordenadas">Coordenadas</a></li>
          <li role="presentation"><a href="rutas">Rutas</a></li>
          <li role="presentation"class="active"><a href="reporteKML">Reporte KML</a></li>

        </ul>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--<script src="javascripts/bower_components/angular/angular.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <script src="javascripts/bower_components/angular-datepicker/angular-datepicker.min.js"></script>
    <script src="javascripts/bower_components/file-saver/FileSaver.js"></script>
    <script src="javascripts/bower_components/jszip/dist/jszip.js"></script>
    <script src="javascripts/frontend/reportekmzApp.js"></script>
    <script type="text/javascript">

    </script>
  </body>
</html>
