<!DOCTYPE html>
<html ng-app="rutasApp">
<head>
  <title><%= title %></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
  <body ng-controller="rutasController as app">
    <div class="panel">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="cambiacolor">Municipios</a></li>
          <li role="presentation"><a href="coordenadas">Coordenadas</a></li>
          <li role="presentation" class="active"><a href="rutas">Rutas</a></li>
          <li role="presentation"><a href="reporteKML">Reporte KML</a></li>

        </ul>
      </div>
    </div>
    <div class="container">
      <div class="col-md-1">

      </div>
      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            Coordenadas -> Rutas {{app.s}}
          </div>
          <div class="panel-body">
            <div class="">
                <h2>Paso 1: Coordenadas -para Rutas</h2>
                <p>Seleccione el tipo de coordenadas.</p>
                <div class="btn-group">
                  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Seleccione el tipo de coordenadas <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-click="useGrados()"><a href="">Grados° Minutos ' Segundos "</a></li>
                    <li ng-click="useDecimales()"><a href="">Decimales</a></li>
                  </ul>
                </div>
                <hr>
                <div ng-show="flagGrados">
                  <p> Ejemplo: <strong>-90° 27' 14.8"	14° 35' 31.7"</strong> <br>Si desea agregar más puntos, entonces utilice una linea para cada punto.
                  </p>
                  <p><strong>-90° 27' 14.8"	14° 35' 31.7"<br> -90° 27' 19.4"	14° 35' 33.4"</strong></p>
                </div>
                <div ng-show="flagDecimales">
                  <p> Ejemplo: <strong> -90.4541, 14.5921</strong>. <br>Si desea agregar más puntos, entonces utilice una linea para cada punto.
                  </p>
                  <p><strong>-90.4541, 14.5921<br> -90.4553, 14.5926</strong></p>
                </div>
                <div ng-show="flagGrados||flagDecimales" class="form-group">
                  <textarea ng-model="textInput" class="form-control" name="name" rows="4" cols="80"
                   placeholder="Ingrese las coordenadas siguiendo el formato indicado segun el tipo de coordenadas electas."></textarea>
                  <button ng-show="textInput" type="button" ng-click="metodo1()"
                   class="btn btn-lg btn-info btn-block">Evaluar coordenadas</button>
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-group">
                        <h4>Coordenadas encontradas:</h4>
                        <li class="list-group-item" ng-repeat="vpoint in vpoints">

                            Coordenada: {{vpoint}}

                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul class="list-group" ng-show="flagGrados">
                        <h4>Coordenadas convertidas:</h4>
                        <li class="list-group-item" ng-repeat="decimalPoint in decimalPoints">

                            {{decimalPoint.uno}} :: {{decimalPoint.dos}}

                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
            </div>
            <hr>
            <div ng-show="flagKml">
                  <h2>Paso 2: Descargar kml</h2>
                  <textarea ng-model="textOutput" class="form-control" name="name" rows="2" cols="80" disabled></textarea>
                  <button ng-click="metodo3()" ng-show="showGenerateKml" type="button" class="btn btn-lg btn-success btn-block">Generar KML</button>
            </div>
            <div ng-show="showDownloadKml">
              <h3>Download KML</h3>
              <a ng-href="{{filename}}" >Download {{filename}}</a>
            </div>
          </div>
      </div>
      </div>
    </div>




    <!-- fin del documento html -->
    <footer style="padding-top: 60px;">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="cambiacolor">Municipios</a></li>
          <li role="presentation"><a href="coordenadas">Coordenadas</a></li>
          <li role="presentation" class="active"><a href="rutas">Rutas</a></li>
          <li role="presentation"><a href="reporteKML">Reporte KML</a></li>

        </ul>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="javascripts/bower_components/angular/angular.js"></script>
    <script src="javascripts/frontend/rutasApp.js"></script>
    <script type="text/javascript">

    </script>
  </body>
</html>
