<div class="row">
  <div class="col-md-12">
    <h2 class="text-primary">Paso 3:&nbsp;<small>Detalle de postes</small></h2>
    <form ng-submit="ctrl.submit()">
    <table class="table table-bordered">
      <tr>
        <td class="col-md-2 bg-primary">Nombre del tramo:</td>
        <td class="bg-info">{{ctrl.v.nombreCliente}}</td>
        <td></td>
        <td class="col-md-2 bg-success">
          <datepicker date-format="dd/MM/yyyy">
            <!-- <input ng-model="ctrl.v.fechainicio" type="text" placeholder="Seleccione una fecha"/> -->
          </datepicker>
        </td>
      </tr>
      <tr>
        <td class="col-md-2 bg-primary">Contratista:</td>
        <td class="bg-info">{{ctrl.v.empresa}}</td>
        <td></td>
        <td class="bg-success">
          <datepicker date-format="dd/MM/yyyy">
            <!-- <input ng-model="ctrl.v.fechafin" type="text" placeholder="Seleccione una fecha"/> -->
          </datepicker>
        </td>
      </tr>
    </table>
    <hr>
    <div class="bg-success">
      <div class="panel">
        <h3 class="text-success">Cargar archivo Excel <small><a href="/Plantilla_Tendido.xlsx">Descargar plantilla</a> </small> </h3>
        <div class="">
          <div id="div-file">
            <label class="col-md-3 control-label" for="exampleInputEmail1">Seleccione su archivo...</label>
            <input type="file" name="myfile" id="myfile" class="form-control-file">
            <span id="status"></span>
          </div>
          <div class="form-group">
            <input id="submitTendido" type="button" class="btn btn-info" value="Subir Excel de tendido">
            <input id="submitDatareceived" ng-click="ctrl.tendido()" type="button" class="btn btn-primary" value="Obtener datos">
          </div>
        </div>
        <div class="form-group">
          <input id="hiddenfilename" type="text" class="form-control" disabled/>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th rowspan="2">x</th>
            <th rowspan="2">TIPO 1</th>
            <th rowspan="2">ID</th>
            <!-- <th rowspan="2">LONGITUD A SIGUIENTE APOYO</th> -->
            <!-- <th rowspan="2">DISTANCIA ACUMULADA</th> -->
            <th rowspan="2">LATITUDE</th>
            <th rowspan="2">LOGITUDE</th>
            <th colspan="3">RESERVA</th>
            <th rowspan="2">CRUCETA</th>
            <th rowspan="2">POSTES NUEVOS</th>
            <th rowspan="2">MUFA NUEVA</th>
            <th rowspan="2">INSTALACION DE BRAZO</th>
            <th rowspan="2">PREFORMADO DE REMATE</th>
            <th rowspan="2">SUSPENCION</th>
            <th rowspan="2" style="width:120px;">NOTAS</th>
          </tr>
          <tr>
            <th>SECUENCIA 1</th>
            <th>SECUENCIA 2</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>x</td>
            <!--<td><input id="tipo1" ng-model="ctrl.li.tipo1" class="form-control" style="width:100px;" type="text"></td>-->
            <td>
              <div class="input-group dropdown">
                <input type="text" id="tipo1" ng-model="ctrl.li.tipo1" class="form-control countrycode dropdown-toggle" value="">
                <ul class="dropdown-menu">
                  <li><a ng-click="setTipo('Mufa')" href="#" data-value="Mufa">Mufa</a></li>
                  <li><a ng-click="setTipo('Poste')" href="#" data-value="Poste">Poste</a></li>
                  <li><a ng-click="setTipo('Cliente')" href="#" data-value="Cliente">Cliente</a></li>
                  <li><a ng-click="setTipo('Cable')" href="#" data-value="Cable">Cable</a></li>
                </ul>
                <span role="button" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></span>
              </div>
            </td>
            <td><input ng-model="ctrl.li.id" class="form-control" style="width:100px;" type="text"></td>
            <!-- <td><input ng-model="ctrl.li.longitudeSA" class="form-control" style="width:100px;" type="text"></td> -->
            <!-- <td><input ng-model="ctrl.li.distanciaA" class="form-control" style="width:100px;" type="text"></td> -->
            <td><input ng-model="ctrl.li.latitude" class="form-control bg-info" style="width:100px;" type="text"></td>
            <td><input ng-model="ctrl.li.longitude" class="form-control bg-info" style="width:100px;" type="text"></td>
            <td><input ng-model="ctrl.li.secuencia1" class="form-control" style="width:100px;" type="text"></td>
            <td><input ng-model="ctrl.li.secuencia2" class="form-control" style="width:100px;" type="text"></td>
            <td><input ng-model="ctrl.li.totalreserva" class="form-control" style="width:100px;" type="text"></td>
            <td><input ng-model="ctrl.li.cruceta" class="form-control" style="width:100px;" type="text"></td>
            <td><input ng-model="ctrl.li.postesnuevos" class="form-control" style="width:100px;" type="text"></td>
            <td><input ng-model="ctrl.li.mufanueva" class="form-control" style="width:100px;" type="text"></td>
            <td><input ng-model="ctrl.li.instalacionDB" class="form-control" style="width:100px;" type="text"></td>
            <td><input ng-model="ctrl.li.preformadoDR" class="form-control" style="width:100px;" type="text"></td>
            <td><input ng-model="ctrl.li.suspencion" class="form-control" style="width:100px;" type="text"></td>
            <td><input ng-model="ctrl.li.notas" class="form-control" style="width:600px;" type="text"></td>
          </tr>
          <tr>
            <td></td>
            <td><button ng-click="ctrl.addli()" class="btn btn-default">Agregar nuevo...</button></td>
          </tr>
          <tr ng-repeat="li in ctrl.l">
            <td><input type="button" class="btn btn-danger" value="x&nbsp;" ng-click="del(li)" style="width:10px;"/></td>
            <td>{{li.tipo1}}</td>
            <td>{{li.id}}</td>
            <!-- <td>{{li.longitudeSA}}</td> -->
            <!-- <td>{{li.distanciaA}}</td> -->
            <td class="bg-info">{{li.latitude}}</td>
            <td class="bg-info">{{li.longitude}}</td>
            <td>{{li.secuencia1}}</td>
            <td>{{li.secuencia2}}</td>
            <td>{{li.totalreserva}}</td>
            <td>{{li.cruceta}}</td>
            <td>{{li.postesnuevos}}</td>
            <td>{{li.mufanueva}}</td>
            <td>{{li.instalacionDB}}</td>
            <td>{{li.preformadoDR}}</td>
            <td>{{li.suspencion}}</td>
            <td>{{li.notas}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="">
      <button type="submit" class="btn btn-primary btn-block">Guardar y continuar</button>
      <div class="bg-success">
        <h2 ng-show="ctrl.guardarycontinuar">Puede continuar al paso 4</h2>
      </div>
    </div>
    </form>
    <textarea ng-model="ctrl.datareceived" id="datareceived" rows="8" cols="80" style="display:none;"></textarea>
  </div>
</div>
<script>
$('.dropdown-menu ab').click(function() {
  console.log($(this).attr('data-value'));
  $(this).closest('.dropdown').find('input.countrycode')
    .val('' + $(this).attr('data-value') + '');
    document.getElementById('tipo1').focus();
});

$("#hiddenfilename").hide();
$("#submitDatareceived").hide();
$("#submitTendido").hide();
$("#myfile").on("change", function() {
  $("#myfile").hide("slow");
  $("#submitTendido").show("slow");
});
$("#submitTendido").click( function () {
      console.log("llamar al submit");
      var _form = $("<form/>", {
          id : '_form',
          method : 'post',
          enctype : 'multipart/form-data',
          action : '/apikmz/xlsx-tendido-fase1',
          style : 'display:none;'
        });
      _form.append( $("#myfile") );
      _form.submit(function(event ) {
          event.preventDefault();
          $("#status").empty().text("File is uploading...");
          $(this).ajaxSubmit({

              error: function(xhr) {
                      status('Error: ' + xhr.status);
              },

              success: function(response) {
                      console.log(response);
                      $("#status").empty().text(response.message);
                      $("#myfile").hide();
                      $("#datareceived").val(JSON.stringify({data:response.data}));
                      $("#hiddenfilename").val( $("#myfile")[0].files[0].name );

                      //$("#myfile").hide(400);
                      $("#submitTendido").hide(400);
                      $("#submitDatareceived").show(400);
                      //console.log($("#myfile")[0].files[0]);
              }
          });

          return false;
      });
      $("body").append(_form);
      _form.submit();
});
</script>
