<div class="row">
    <div class="col-md-6">
      <h2 class="text-primary">Paso 1:&nbsp;<small>Encabezado y datos generales de la instalación</small</h2>
      <hr>
      <form  ng-submit="ctrl.submit()">
        <div class="form-group">
          <label>Nombre de la empresa:</label>
          <input type="text" class="form-control" placeholder="Ingrese el nombre de la Contrata"
            ng-model="ctrl.v.empresa" required>
        </div>
        <div class="form-group">
          <label>No. Instalación / ID:</label>
          <input type="text" class="form-control" placeholder="Ingrese el número de instalación"
            ng-model="ctrl.v.instalacion" required>
        </div>
        <div class="form-group">
          <label>OT:</label>
          <input type="text" class="form-control" placeholder="Ingrese el número de Orden de Trabajo"
            ng-model="ctrl.v.ot" required>
        </div>
        <div class="form-group">
          <label>Nombre Cliente / Celda:</label>
          <input type="text" class="form-control" placeholder="Ingrese el nombre del cliente"
            ng-model="ctrl.v.nombreCliente" required>
        </div>
        <div class="form-group">
          <label>Dirección:</label>
          <input type="text" class="form-control" placeholder="Ingrese la dirección donde se realizó el trabajo"
            ng-model="ctrl.v.direccion" required>
        </div>
        <div class="form-group">
          <label>Codigo largo mufa/ Nodo:</label>
          <input type="text" class="form-control" placeholder="Ingrese el código largo de la mufa/Nodo"
            ng-model="ctrl.v.codigoLargoMufaNodo" required>
        </div>
        <div class="form-group">
          <label>ID mufa:</label>
          <input type="text" class="form-control" placeholder="Ingrese el ID de la mufa"
            ng-model="ctrl.v.idmufa" required>
        </div>
        <div class="form-group">
          <label>Codigo puerto splitter:</label>
          <input type="text" class="form-control" placeholder="Ingrese el código del puerto"
            ng-model="ctrl.v.codigoPuertoSplitter" required>
        </div>

        <div class="form-group">
          <label>Fecha Instalacion:</label>
          <datepicker date-format="dd/MM/yyyy">
            <input type="text" class="form-control" placeholder="Seleccione una fecha"
              ng-model="ctrl.v.fechaInstalacion" required/>
          </datepicker>
        </div>
        <br><br>
        <div class="form-group">
          <label>Secuencia inicial:</label>
          <input type="text" class="form-control" placeholder="Ingrese el número de secuencia inicial"
            ng-model="ctrl.v.secuenciaInicial" required>
        </div>
        <div class="form-group">
          <label>Secuencia Final:</label>
          <input type="text" class="form-control" placeholder="Ingrese el número de secuencia final"
            ng-model="ctrl.v.secuenciaFinal" required>
        </div>
        <div class="form-group">
          <label>Hilo Procedencia:</label>
          <input type="text" class="form-control" placeholder="Ingrese el Hilo de procedencia (Opcional)"
            ng-model="ctrl.v.hiloProcedencia">
        </div>
        <div class="form-group">
          <label>Hilo Destino:</label>
          <input type="text" class="form-control" placeholder="Ingrese el Hilo de destino (Opcional)"
            ng-model="ctrl.v.hiloDestino">
        </div>
        <button type="submit" ng-show="!ctrl.idreporte" class="btn btn-primary btn-block" >
          <span class="glyph-icon glyph-"></span>
          Guardar y continuar
        </button>
      </form>
      <p>
        <h3 ng-show="ctrl.idreporte">Reporte generado con identificador: <small>{{ctrl.idreporte}}</small></h3>
      </p>
    </div>
    <div class="col-md-6 pull-right" style="width:20%;">
        <img class="img-responsive" src="http://www.grandesmarcasguatemala.com/wp-content/uploads/2015/05/tigo.jpg" alt="">

    </div>

</div>
