<h2 class="text-primary">Paso 5:&nbsp;<small class="text-default">Actividades</small></h2>
<div class="table-responsive">
  <form ng-submit="ctrl.addlai()">
  <table class="table">
    <tr class="bg-success">
      <td>ID (INS)</td>
      <td>OT</td>
      <td>Cliente</td>
      <td>Cantidad</td>
      <td>ITEM</td>
      <td>Descripción ITEM</td>
      <td>Con IVA</td>
      <td>Total Sin Iva.</td>
      <td>Total con IVA.</td>
    </tr>
    <tr>
      <td rowspan="20">{{ctrl.v.instalacion}}</td>
      <td rowspan="20">{{ctrl.v.ot}}</td>
      <td rowspan="20">{{ctrl.v.nombreCliente}}</td>
    </tr>
    <tr>
      <td><input ng-model="ctrl.lai.cantidad" style="width:80px;" type="text" class="form-control"></td>
      <td><input ng-model="ctrl.lai.item" style="width:80px;" type="text" class="form-control"></td>
      <td><input ng-model="ctrl.lai.descripcionItem" style="width:80px;" type="text" class="form-control"></td>
      <td><input ng-model="ctrl.lai.conIva" style="width:80px;" type="text" class="form-control"></td>
      <td><input ng-model="ctrl.lai.totalSinIva" style="width:80px;" type="text" class="form-control"></td>
      <td><input ng-model="ctrl.lai.totalConIva" style="width:80px;" type="text" class="form-control"></td>
    </tr>
    <tr>
      <td>
        <button type="submit" class="btn btn-warning">
        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Agregar</button>
      </td>
    </tr>
  </table>
  </form>

  <table class="table table-bordered">
    <tr class="bg-success">
      <td>ID (INS)</td>
      <td>OT</td>
      <td>Cliente</td>
      <td>Ctd</td>
      <td>ITEM</td>
      <td>Descripción ITEM</td>
      <td>Con IVA</td>
      <td>Total Sin Iva.</td>
      <td>Total con IVA.</td>
    </tr>
    <tr>
      <td rowspan="200">{{ctrl.v.instalacion}}</td>
      <td rowspan="200">{{ctrl.v.ot}}</td>
      <td rowspan="200">{{ctrl.v.nombreCliente}}</td>
    </tr>
    <tr ng-repeat="lai in ctrl.la">
      <td class="bg-success">{{lai.cantidad}}</td>
      <td>{{lai.item}}</td>
      <td>{{lai.descripcionItem}}</td>
      <td>{{lai.conIva}}</td>
      <td>{{lai.totalSinIva}}</td>
      <td>{{lai.totalConIva}}</td>
    </tr>
    <tr class="bg-danger">
      <td>{{"Cantidad"}}</td>
      <td>ITEM</td>
      <td>Descripción ITEM</td>
      <td>Con IVA</td>
      <td>Total Sin Iva.</td>
      <td>Total con IVA.</td>
    </tr>

  </table>
  <div>
    <button ng-hide="ctrl.kmz" ng-click="probarZip()" type="button" class="btn btn-info btn-lg btn-block">Generar KMZ</button>

    <div class="bg-info" ng-show="ctrl.pathKmz">
      <h3>Descargue el reporte en el siguiente enlace:</h3>
      <a class="btn btn-link" ng-href="{{ctrl.pathKmz}}"><h2> Descargar aquí </h2></a>
    </div>
    <div class="label">
      Error durante la generacion de su archivo kmz
    </div>
  </div>
</div>
