<div class="row">
    <div class="col-md-12">
      <h2 class="text-primary">Paso 2:&nbsp;<small>Información del trabajo realizado</small></h2>
      <form ng-show="!ctrl.reporteActualizado" ng-submit="ctrl.submit()">
        <div class="col-md-6">
          <div class="form-group">
            <label>Habilitación:</label>
            <input type="checkbox" class="form-control" ng-model="ctrl.v.habilitacion">
          </div>
          <div class="form-group">
            <label>Enrutado:</label>
            <input type="checkbox" class="form-control" ng-model="ctrl.v.enrutado">
          </div>
          <div class="form-group">
            <label>Tendido:</label>
            <input type="checkbox" class="form-control" ng-model="ctrl.v.tendido">
          </div>
          <div class="form-group">
            <label>Conectorización:</label>
            <input type="checkbox" class="form-control" ng-model="ctrl.v.conectorizacion">
          </div>
          <div class="form-group">
            <label>Factibilidad de servicio:</label>
            <input type="checkbox" class="form-control" ng-model="ctrl.v.factibilidadDeServicio">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Postes:</label>
            <input type="checkbox" class="form-control" ng-model="ctrl.v.postes">
          </div>
          <div class="form-group">
            <label>Retiro F.O.:</label>
            <input type="checkbox" class="form-control" ng-model="ctrl.v.retiroFO">
          </div>
          <div class="form-group">
            <label>Ducto:</label>
            <input type="checkbox" class="form-control" ng-model="ctrl.v.ducto">
          </div>
          <div class="form-group">
            <label>Instalación C.T.:</label>
            <input type="checkbox" class="form-control" ng-model="ctrl.v.instalacionCT">
          </div>
          <div class="form-group">
            <label>Traslado:</label>
            <input type="checkbox" class="form-control" ng-model="ctrl.v.traslado">
          </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary btn-block">Guardar y continuar</button>
      </form>
      <p ng-show="ctrl.reporteActualizado">Los cambios han sido guardados, puede continuar al paso 3.
      </p>
      <p ng-show="ctrl.idreporte">Estos datos ya han sido guardados, si presiona el botón, puede reescribir la información.</p>
    </div>
</div>
