<style media="screen">
.chute {
  border: 3px solid rgba(70, 161, 255, 0.1);
  padding-top: 2px;
  padding-bottom: 2px;
  background: transparent;
}
</style>
<div class="row">
  <div class="col-md-12">
    <h2 class="text-primary">Paso 4:&nbsp;<small>Imágenes</small></h2>
    <form id="form" ng-model="modform1" ng-submit="ctrl.submit()">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>TIPO 1</th>
            <th>ID</th>
            <!--<th>LONGITUD A SIGUIENTE APOYO</th>
            <th>DISTANCIA ACUMULADA</th>-->
            <th>LATITUDE</th>
            <th>LOGITUDE</th>
            <th>Fotografías</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="lli in ctrl.l">
            <td>{{lli.tipo1}}</td>
            <td>{{lli.id}}</td>
            <!--<td>{{lli.longitudeSA}}</td>
            <td>{{lli.distanciaA}}</td>-->
            <td class="bg-info">{{lli.latitude}}</td>
            <td class="bg-info">{{lli.longitude}}</td>
            <td>
              <ul>
                <!-- img1 -->
                <!-- img1 file exist -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && lli.images.img1">
                  <div class="row chute bg-success">
                    <div class="col-md-1">
                      <a ng-click="ctrl.ba(1, lli, $index)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="col-md-11">
                      {{lli.images.img1}}
                    </div>
                  </div>
                </li>
                <!-- img1 upload file -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && !lli.images.img1">
                  <div class="row">
                    <div class="col-md-12">
                      <!--<input type="file" name="file1" ng-model="ctrl.images.img1" class="form-control" accept="image/*"
                      onchange="angular.element(this).scope().file_changed1(this)">  changeUp(this,'i1'+lli.id)-->

                      <input type="file" name="uploads[]" id="{{lli.tipo1+'1'+lli.id}}" class="form-control"
                      accept="image/*" onchange="frf(this, 1)" data-a="{{lli.tipo1}}" data-b="{{lli.id}}" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="progress">
                      <div id="{{'progress-'+lli.tipo1+'1'+lli.id}}" class="progress-bar" role="progressbar"></div>
                    </div>
                  </div>
                </li>
                <!-- img2 -->
                <!-- img2 file exist -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && lli.images.img2">
                  <div class="row chute bg-success">
                    <div class="col-md-1">
                      <a ng-click="ctrl.ba(2, lli)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="col-md-11">
                      {{lli.images.img2}}
                    </div>
                  </div>
                </li>
                <!-- img2 upload file -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && !lli.images.img2">
                  <div class="row">
                    <div class="col-md-12">
                      <!--<input type="file" name="file1" ng-model="ctrl.images.img1" class="form-control" accept="image/*"
                      onchange="angular.element(this).scope().file_changed1(this)">  changeUp(this,'i1'+lli.id)-->

                      <input type="file" name="uploads[]" id="{{lli.tipo1+'2'+lli.id}}" class="form-control"
                      accept="image/*" onchange="frf(this, 2)" data-a="{{lli.tipo1}}" data-b="{{lli.id}}" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="progress">
                      <div id="{{'progress-'+lli.tipo1+'2'+lli.id}}" class="progress-bar" role="progressbar"></div>
                    </div>
                  </div>
                </li>
                <!-- img3 -->
                <!-- img3 file exist -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && lli.images.img3">
                  <div class="row chute bg-success">
                    <div class="col-md-1">
                      <a ng-click="ctrl.ba(3, lli, $index)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="col-md-11">
                      {{lli.images.img3}}
                    </div>
                  </div>
                </li>
                <!-- img3 upload file -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && !lli.images.img3">
                  <div class="row">
                    <div class="col-md-12">
                      <!--<input type="file" name="file1" ng-model="ctrl.images.img1" class="form-control" accept="image/*"
                      onchange="angular.element(this).scope().file_changed1(this)">  changeUp(this,'i1'+lli.id)-->

                      <input type="file" name="uploads[]" id="{{lli.tipo1+'3'+lli.id}}" class="form-control"
                      accept="image/*" onchange="frf(this, 3)" data-a="{{lli.tipo1}}" data-b="{{lli.id}}" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="progress">
                      <div id="{{'progress-'+lli.tipo1+'3'+lli.id}}" class="progress-bar" role="progressbar"></div>
                    </div>
                  </div>
                </li>

                <!-- img4 -->
                <!-- img4 file exist -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && lli.images.img4">
                  <div class="row chute bg-success">
                    <div class="col-md-1">
                      <a ng-click="ctrl.ba(4, lli, $index)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="col-md-11">
                      {{lli.images.img4}}
                    </div>
                  </div>
                </li>
                <!-- img4 upload file -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && !lli.images.img4">
                  <div class="row">
                    <div class="col-md-12">
                      <!--<input type="file" name="file1" ng-model="ctrl.images.img1" class="form-control" accept="image/*"
                      onchange="angular.element(this).scope().file_changed1(this)">  changeUp(this,'i1'+lli.id)-->

                      <input type="file" name="uploads[]" id="{{lli.tipo1+'4'+lli.id}}" class="form-control"
                      accept="image/*" onchange="frf(this, 4)" data-a="{{lli.tipo1}}" data-b="{{lli.id}}" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="progress">
                      <div id="{{'progress-'+lli.tipo1+'4'+lli.id}}" class="progress-bar" role="progressbar"></div>
                    </div>
                  </div>
                </li>

                <!-- img5 -->
                <!-- img5 file exist -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && lli.images.img5">
                  <div class="row chute bg-success">
                    <div class="col-md-1">
                      <a ng-click="ctrl.ba(5, lli, $index)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="col-md-11">
                      {{lli.images.img5}}
                    </div>
                  </div>
                </li>
                <!-- img5 upload file -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && !lli.images.img5">
                  <div class="row">
                    <div class="col-md-12">
                      <!--<input type="file" name="file1" ng-model="ctrl.images.img1" class="form-control" accept="image/*"
                      onchange="angular.element(this).scope().file_changed1(this)">  changeUp(this,'i1'+lli.id)-->

                      <input type="file" name="uploads[]" id="{{lli.tipo1+'5'+lli.id}}" class="form-control"
                      accept="image/*" onchange="frf(this, 5)" data-a="{{lli.tipo1}}" data-b="{{lli.id}}" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="progress">
                      <div id="{{'progress-'+lli.tipo1+'5'+lli.id}}" class="progress-bar" role="progressbar"></div>
                    </div>
                  </div>
                </li>

                <!-- img6 -->
                <!-- img6 file exist -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && lli.images.img6">
                  <div class="row chute bg-success">
                    <div class="col-md-1">
                      <a ng-click="ctrl.ba(6, lli, $index)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="col-md-11">
                      {{lli.images.img6}}
                    </div>
                  </div>
                </li>
                <!-- img6 upload file -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && !lli.images.img6">
                  <div class="row">
                    <div class="col-md-12">
                      <!--<input type="file" name="file1" ng-model="ctrl.images.img1" class="form-control" accept="image/*"
                      onchange="angular.element(this).scope().file_changed1(this)">  changeUp(this,'i1'+lli.id)-->

                      <input type="file" name="uploads[]" id="{{lli.tipo1+'6'+lli.id}}" class="form-control"
                      accept="image/*" onchange="frf(this, 6)" data-a="{{lli.tipo1}}" data-b="{{lli.id}}" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="progress">
                      <div id="{{'progress-'+lli.tipo1+'6'+lli.id}}" class="progress-bar" role="progressbar"></div>
                    </div>
                  </div>
                </li>

                <!-- img7 -->
                <!-- img7 file exist -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && lli.images.img7">
                  <div class="row chute bg-success">
                    <div class="col-md-1">
                      <a ng-click="ctrl.ba(7, lli, $index)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="col-md-11">
                      {{lli.images.img7}}
                    </div>
                  </div>
                </li>
                <!-- img7 upload file -->
                <li style="list-style:none; padding-bottom:5px;" ng-if="lli.images && !lli.images.img7">
                  <div class="row">
                    <div class="col-md-12">
                      <!--<input type="file" name="file1" ng-model="ctrl.images.img1" class="form-control" accept="image/*"
                      onchange="angular.element(this).scope().file_changed1(this)">  changeUp(this,'i1'+lli.id)-->

                      <input type="file" name="uploads[]" id="{{lli.tipo1+'7'+lli.id}}" class="form-control"
                      accept="image/*" onchange="frf(this, 7)" data-a="{{lli.tipo1}}" data-b="{{lli.id}}" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="progress">
                      <div id="{{'progress-'+lli.tipo1+'7'+lli.id}}" class="progress-bar" role="progressbar"></div>
                    </div>
                  </div>
                </li>
                <li style="list-style:none;">
                  <textarea ng-model="lli.notas" rows="8" style="width:100%"></textarea>
                </li>

              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
        <button ng-click="ctrl.submit()" type="button" class="btn btn-primary btn-block">Guardar y continuar</button>
      </div>
    </div>
    </form>
  </div>
</div>
<script>

  /**
  * Esta funcion se encarga de hacer el bind entre cada elemento input file,
  * y una funcion en el controller.
  * Necesita un elemento input file, el cual se autoenvia, y al ser recibido,
  * se leen los custom data attributes "data-a" y "data-b".
  * Dichos atributos se colocaron con {{}} de angularjs.
  * Fue necesario utilizar un #id para el formulario, que es el elemento padre
  * y el cual nos permite poder hacer binding con $scope del controlador.
  */
  function frf(elem, ord) {
    angular.element("#form").scope().changeUp(elem.id, elem.getAttribute('data-a'), elem.getAttribute('data-b'), ord);
  }

  /** promise para leer todos los archivos de un directorio
  *   param: ruta
  *   es la ruta completa "fullpath" para llegar al directorio. Ej: .path/to/directory
  */
  function listadoArchivosDirectorio (ruta) {
      var prom = new Promise( function (resolve, reject) {
          //ruta es el path completo para un cierto directorio
          var filelist = [];
          fs.readdir(ruta, function (err, files) {
              if (err) {
                  throw err;
              }

              files.map(function (file) {
                  return path.join(ruta, file);
              }).filter(function (file) {
                  return fs.statSync(file).isFile();
              }).forEach(function (file) {
                  filelist.push({ archivo:""+path.basename(file), ruta:file });
                  //console.log("%s (%s)", file, path.basename(file));

              });
              res.json({fileList:filelist});
          });

      });
  };
</script>
