<!DOCTYPE html>
<html ng-app="estadisticasApp">
<head>
  <title>Lista de postes</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="../../javascripts/bower_components/angular-datepicker/angular-datepicker.min.css">
  <link rel="stylesheet" href="../../stylesheets/reportePostes.css">
</head>
  <body ng-controller="estadisticasController">
    <div class="panel">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="reportePostes">Postes</a></li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="reportePostes">Inicio</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="reportePostes">Subir Archivo <span class="sr-only">(current)</span></a></li>
            <li><a href="listaPostes">Lista de postes</a></li>
            <li class="active"><a href="estadisticas">Estadísticas</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="">
        <!-- // Panel para el reporte de % Usabilidad -->
        <div class="panel panel-success">
          <div class="panel-heading">
            <h7>Estadísticas &nbsp; <button ng-click="getStat()" type="button" class="btn btn-warning btn-sm">Refrescar</button>
              <div ng-show="load_stat" style="height:0px;"><img class="img-responsive" src="../../stylesheets/image/loading_dots.gif" alt=""></div></h7>
          </div>
          <div class="panel-body hide">
            cuerpo
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Unidad de negocio</th>
                  <th>Utilización</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Home&nbsp;<span class="badge">{{stat.home_}}</span></td>
                  <td class="bg-warning">{{stat.home|percentage:2}}</td>
                </tr>
                <tr>
                  <td>Navega&nbsp;<span class="badge">{{stat.navega_}}</span></td>
                  <td class="bg-info">{{stat.navega|percentage:2}}</td>
                </tr>
                <tr>
                  <td>Mobile&nbsp;<span class="badge">{{stat.mobile_}}</span></td>
                  <td class="bg-success">{{stat.mobile|percentage:2}}</td>
                </tr>
                <tr ng-show="stat.total" class="bg-primary">
                  <td>Total 1's {{' - ' + stat.total}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="panel-footer hide">
            <a class="btn btn-default" ng-click=""> Action</a>
          </div>
        </div>

        <!-- // Panel para el reporte de postes -->
        <div class="panel panel-success">
          <div class="panel-heading">
            <h5>Estadísticas - Postes - Cables</h5>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Cantidad</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>EEGSA</td>
                  <td class="bg-info">
                    <span class="badge">{{stat.eegsa}}</span>
                  </td>
                </tr>
                <tr>
                  <td>TRELEC</td>
                  <td class="bg-info">
                    <span class="badge">{{stat.trelec}}</span>
                  </td>
                </tr>
                <tr>
                  <td>Total postes</td>
                  <td class="bg-info">
                    <span class="badge">{{stat.total}}</span>
                  </td>
                </tr>
                <tr class="bg-info">
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Un cable</td>
                  <td class="bg-info">
                    <span class="badge">{{stat.cables1}}</span>
                  </td>
                </tr>
                <tr>
                  <td>Más de 1 cable</td>
                  <td class="bg-info">
                    <span class="badge">{{stat.cablesmas}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="panel-footer hide">
            <button type="button" class="btn btn-default">Action</button>
          </div>
        </div>
      </div>


    </div>
    <div class="" style="height:400px;"></div>

      <!-- fin del documento html -->
      <footer style="position:relative; bottom:5px;">

      </footer>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="http://malsup.github.com/jquery.form.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!--<script src="javascripts/bower_components/angular/angular.js"></script>-->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
      <script src="../../javascripts/bower_components/angular-datepicker/angular-datepicker.min.js"></script>
      <script src="../../javascripts/bower_components/file-saver/FileSaver.js"></script>
      <script src="../../javascripts/frontend/postes/estadisticasApp.js"></script>

      </body>
      </html>
