<!DOCTYPE html>
<html ng-app="listaApp">
<head>
  <title>Lista de postes</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="../../javascripts/bower_components/angular-datepicker/angular-datepicker.min.css">
  <link rel="stylesheet" href="../../stylesheets/reportePostes.css">
</head>
  <body ng-controller="listaController">
    <div class="panel">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="reportePostes">Postes</a></li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="reportePostes">Inicio</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="reportePostes">Subir Archivo <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="listaPostes">Lista de postes</a></li>
            <li><a href="estadisticas">Estadísticas</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h7>Lista de postes</h7>
            <div ng-show="load_listapostes" style="height:0px;">
              <img class="img-responsive" src="../../stylesheets/image/loading_dots.gif" alt="">
            </div>
          </div>
          <div class="panel-body hide">
            cuerpo
          </div>
          <div class="table-responsive hide">
            <table class="table">
              <thead>
                <tr>
                  <th>idposte</th>
                  <th>descripcion</th>
                  <th>propiedad</th>
                  <th>departamento</th>
                  <th>fecha instalacion</th>
                  <th>cables</th>
                  <th>mes</th>
                  <th>navega</th>
                  <th>home</th>
                  <th>mobile</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>griffindor</td>
                  <td>griffindor</td>
                  <td>griffindor</td>
                  <td>griffindor</td>
                  <td>griffindor</td>
                  <td>griffindor</td>
                  <td>griffindor</td>
                  <td>griffindor</td>
                  <td>griffindor</td>
                  <td>griffindor</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <a class="btn btn-default" ng-click="downloadXlsxPostes()"> Descargar postes</a>
          </div>
        </div>
      </div>


    </div>
    <div class="" style="height:400px;"></div>

      <!-- fin del documento html -->
      <footer style="position:relative; bottom:5px;">

      </footer>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="http://malsup.github.com/jquery.form.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!--<script src="javascripts/bower_components/angular/angular.js"></script>-->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
      <script src="../../javascripts/bower_components/angular-datepicker/angular-datepicker.min.js"></script>
      <script src="../../javascripts/bower_components/file-saver/FileSaver.js"></script>
      <script src="../../javascripts/frontend/postes/listaApp.js"></script>

      </body>
      </html>
