<!DOCTYPE html>
<html ng-app="reportepostesApp">
<head>
  <title>Reporte Postes</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="../../javascripts/bower_components/angular-datepicker/angular-datepicker.min.css">
  <link rel="stylesheet" href="../../stylesheets/reportePostes.css">
</head>
  <body ng-controller="reportepostesController">
    <div class="panel">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="reportePostes">Postes</a></li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="reportePostes">Inicio</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="">Subir Archivo <span class="sr-only">(current)</span></a></li>
            <li><a href="listaPostes">Lista de postes</a></li>
            <li><a href="estadisticas">Estadísticas</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right hide">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="">
        <div ng-repeat="alertdiv in alertDivs" class="alert alert-dismissible" role="alert"
         ng-class="alertdiv.class" ng-click="deleteAlert(alertdiv)">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong ng-show="alertdiv.title">{{alertdiv.title}}</strong>
          {{alertdiv.mensaje}}
        </div>
      </div>
      <div id="subir-archivo" class="subir-archivo" ng-show="paso === 1">
        <div class="panel-title">
          <h2>1) subir-archivo</h2>

          <div id="select-file" class="panel panel-default">
            <div class="panel-body">
              <span class="glyphicon glyphicon-cloud-upload"></span>
              <h2>Buscar archivo</h2>
              <h4>Seleccione el <code>archivo.xlsx</code> de entrada.</h4>
              <div class="progress">
                <div class="progress-bar" role="progressbar"></div>
              </div>
              <button class="btn btn-lg upload-btn" type="button">Upload File</button>
              <a href="/formato_postes.xlsx" class="btn btn-link">Descargar formato de entrada</a>
            </div>
          </div>
          <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
          <div id="file-uploaded" class="panel panel-default">
            <div class="panel-heading">
              <h1>Archivo subido</h1>
            </div>
            <div class="panel-body bg-primary">
              <div id="existe-archivo" class="">

              </div>
              <div class="">
                <select class="form-control input-lg" ng-model="tipoPostes">
                  <option value="" selected>Seleccione un valor ...</option>
                  <option value="HOME">HOME</option>
                  <option value="MOBILE">MOBILE</option>
                  <option value="NAVEGA">NAVEGA</option>
                </select>
                <br>
                <button id="ir-a-2" ng-show="tipoPostes" style="display:none;" type="button" class="btn btn-success btn-lg" ng-click="doPaso(2);">
                  Ir a paso 2
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div id="procesar-archivo" class="" ng-show="paso === 2">
        <div class="panel-title">
          <h2>procesar-archivo<small></small></h2>
          <p ng-click="paso=3;"><img src="../../stylesheets/image/excel-32.png" alt="">&nbsp;{{archivoEnServidor}}</p>
          <p ng-click="paso=3;"><h3><img src="../../stylesheets/image/bussiness-unit-32.png" alt="">&nbsp;{{tipoPostes}}</h3></p>
          <hr>
          <div class="row">
            <div class="col-md-7">
                  <table class="table table-condensed table-striped table-hover">
                    <caption class="bg-danger">&nbsp;&nbsp;Postes no encontrados</caption>
                    <tr>
                      <th>Fila</th>
                      <th>IDPOSTE</th>
                      <th>PROYECTO</th>
                      <th>DEPARTAMENTO</th>
                      <th>FECHAINST</th>
                      <th>CANTIDAD</th>
                    </tr>
                    <tr ng-repeat="row in rows.noidrows">
                      <td class="bg-danger"> {{row.i}}</td>
                      <td> {{row.row[0]}}</td>
                      <td> {{row.row[1]}}</td>
                      <td> {{row.row[3]}}</td>
                      <td> {{row.row[4]}}</td>
                      <td> {{row.row[7]}}</td>
                    </tr>
                  </table>
            </div>
          </div>
            <button ng-show="!flagDatosCreados" ng-click="doPaso(4)" type="button" class="btn btn-success">Crear Postes</button>
            <h2 ng-show="flagDatosCreados">
              <span class="label label-success">Datos Creados en base de datos</span>
            </h2>
          </div>

          <div class="row">
            <div class="col-md-12">
                  <table class="table table-condensed table-striped table-hover">
                    <caption class="bg-primary">
                      &nbsp;&nbsp;Postes ENCONTRADOS
                      <h2 ng-show="flagDatosActualizados">
                        <span class="label label-default">Datos actualizados en base de datos</span>
                      </h2>
                    </caption>
                    <thead>
                      <tr>
                        <th>Fila</th>
                        <th>IDPOSTE</th>
                        <th>PROYECTO</th>
                        <th>DEPARTAMENTO</th>
                        <th>FECHAINST</th>
                        <th colspan="3" class="text-centered">Cables</th>
                        <th>registro</th>
                      </tr>
                      <tr>
                        <th colspan="5"></th>
                        <th># en xlsx</th>
                        <th># en BD</th>
                        <th class="bg-info"># a Guardar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in rows.okrows">
                        <td>{{row.i}}</td>
                        <td>{{row.row[0]}}</td>
                        <td>{{row.row[1]}}</td>
                        <td>{{row.row[3]}}</td>
                        <td>{{row.row[4]}}</td>
                        <td>{{row.row[7]}}</td>
                        <td>{{row.cables}}</td>
                        <td class="bg-info">{{row.sumado}}</td>
                        <td>{{row.id_}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="panel panel-default">
                    <button ng-show="!flagDatosActualizados" ng-click="doPaso(3)" type="button" class="btn btn-primary">Actualizar info-postes</button>
                    <h2 ng-show="flagDatosActualizados">
                      <span class="label label-default">Datos actualizados en base de datos</span>
                    </h2>
                  </div>
            </div>
          </div>

        </div>

      </div>

      <div id="descargar-archivo" class="" ng-show="paso === 3">
        <div class="panel-title">
          <h2>descargar-archivo</h2>
          <p ng-click="paso=1;">descargar-archivo</p>
        </div>

      </div>
      <div class="">
        <button type="button" class="btn btn-default" ng-click="setAlert('alert-warning', '--', 'skldjf')">Montar mensaje de prueba</button>
      </div>

    </div>
    <div class="" style="height:400px;"></div>

      <!-- fin del documento html -->
      <footer style="position:relative; bottom:5px;">
        <div class="container">
          <ul class="nav nav-tabs">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="cambiacolor">Municipios</a></li>
            <li role="presentation"><a href="coordenadas">Coordenadas</a></li>
            <li role="presentation"><a href="rutas">Rutas</a></li>
            <li role="presentation"><a href="reporteKML">Reporte KML</a></li>
            <li role="presentation" class="active"><a href="reportePostes">Reporte Postes</a></li>
          </ul>
        </div>
      </footer>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="http://malsup.github.com/jquery.form.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!--<script src="javascripts/bower_components/angular/angular.js"></script>-->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
      <script src="../../javascripts/bower_components/angular-datepicker/angular-datepicker.min.js"></script>
      <script src="../../javascripts/bower_components/file-saver/FileSaver.js"></script>
      <script src="../../javascripts/frontend/postes/reportepostesApp.js"></script>
      <script type="text/javascript">
        /**
        * Este codigo jquery, es unicamente para manejar la subida del archivo al servidor
        * durante el primer paso.
        * Maneja el ocultar/mostrar del boton de subir archivo y el div donde se muestra el nombre del archivo
        * ya subido al servidor.
        */

        $(document).ready(function () {
          $('#file-uploaded').hide(1);
          $('.upload-btn').on('click', function (){
              $('#upload-input').click();
              $('.progress-bar').text('0%');
              $('.progress-bar').width('0%');
          });

          $('#upload-input').on('change', function(){

            var files = $(this).get(0).files;

            if (files.length > 0){
              // create a FormData object which will be sent as the data payload in the
              // AJAX request
              var formData = new FormData();

              // loop through all the selected files and add them to the formData object
              for (var i = 0; i < files.length; i++) {
                var file = files[i];

                // add the files to formData object for the data payload
                formData.append('uploads[]', file, file.name);
              }

              $.ajax({
                url: '/file-postes-excel',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data){
                    console.log('upload successful!\n' , data);
                    $('.progress-bar').html('Done');
                    $('#existe-archivo').html('<h3>'+data.filename+'</h3>');
                    $('#select-file').hide(2000);
                    $('#file-uploaded').show(1000);
                    $('#ir-a-2').show(1000);
                },
                xhr: function() {
                  // create an XMLHttpRequest
                  var xhr = new XMLHttpRequest();

                  // listen to the 'progress' event
                  xhr.upload.addEventListener('progress', function(evt) {

                    if (evt.lengthComputable) {
                      // calculate the percentage of upload completed
                      var percentComplete = evt.loaded / evt.total;
                      percentComplete = parseInt(percentComplete * 100);

                      // update the Bootstrap progress bar with the new percentage
                      $('.progress-bar').text(percentComplete + '%');
                      $('.progress-bar').width(percentComplete + '%');

                      // once the upload reaches 100%, set the progress bar text to done
                      if (percentComplete === 100) {
                        $('.progress-bar').html('Done');
                      }

                    }

                  }, false);

                  return xhr;
                }
              });

            }
          });
        });

      </script>
      </body>
      </html>
